.inputGroup {
  @apply col-span-6 sm:col-span-4 mt-3;
}

.inputTextLabel {
  @apply block text-sm font-medium text-gray-700 pl-0.5 mt-1;
}

.disabledForm input,
.disabledForm label,
.disabledForm textarea {
  @apply opacity-60;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.disabledForm button:disabled {
  animation: pulse 1.5s infinite ease-in-out;
  cursor: inherit;
}

.disabledForm button:disabled:hover {
  /* Vanilla shadow*/
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.disabledForm button:active {
  box-shadow: none;
  margin-top: -2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
